.header__container-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .header__container-info {
    display: none;
  }
}
