.elements {
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(2, 361px);
  grid-gap: 20px 17px;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .elements {
    grid-template-rows: repeat(3, 361px);
    grid-template-columns: repeat(2, 282px);
  }
}

@media screen and (max-width: 593px) {
  .elements {
    grid-template-rows: repeat(6, 361px);
    grid-template-columns: repeat(1, 282px);
  }
}