.element__button-like {
  width: 22px;
  height: 19px;
  background-color: #fff;
  background-image: url(../../../image/like.svg);
  background-size: cover;
  background-repeat: no-repeat;
  align-self: center;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
}

.element__button-like:hover {
  opacity: 0.5;
}